<!DOCTYPE html>
    <html>
        <head>
        <div style="background-color: rgb(31, 31, 31); padding: 50px 0px 50px 0px; color: white; text-align: center;">
			<link rel="stylesheet" href="/stylesheets/style.css">
            <script src="https://www.google.com/recaptcha/api.js?render=6LeC6vQpAAAAAC_8_WSCYXh-T2YXwE8P45VrNcoL"></script>
            <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-W5VD3ZV9FN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-W5VD3ZV9FN');
</script>
        </head>
        <body>

     <div style="background-color: rgb(40, 40, 40); padding: 100px 0px 50px 0px; color: white; text-align: center;">
     <h1>Bienvenido</h1>
     <%- include('./partials/header.ejs');%>
        </body>
    </html>